<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
  </configSections>
  <connectionStrings>
    <add name="QuanLyBanHang.Properties.Settings.ConnectionString"
      connectionString="Data Source=.\sqlexpress;Initial Catalog=MiniSuperMarket;Integrated Security=True"
      providerName=".NET Framework Data Provider for SQL Server" />
  </connectionStrings>
</configuration>